/*2364AA 3DA5D9 73BFB8 FEC601 EA7317 */

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0px;
  font-family: Muli;
}

/*videos*/

.fill {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
}

.fill video {
  min-width: 100vw;
  min-height: 100vh;
  flex-shrink: 0;
}

/*divs*/

.fsdiv {
  height: 100vh;
  width: 100vw;
  padding: 0vh;
  padding-bottom: 2.5vh;
  animation-name: fsdiv1anim;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.fc1 {
  width: 100vw;
  height: 100vh;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(asset/wph.JPG);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
  animation-name: fc1anim;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fsdiv1anim {
  from {height: 100vh;
        width: 100vw;
        padding: 0vh;
        padding-bottom: 2.5vh;}
  to   {height: 92vh;
        width: calc(100vw - 8vh);
        padding: 4vh;
      padding-bottom: 2.5vh;}
}

@keyframes fc1anim {
  from {width: 100vw;
        height: 100vh;
        border-radius: 0px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);}
  to   {width: calc(100vw - 8vh);
        height: 92vh;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
}

.c {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.cb {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -90%);
  transform: translate(-50%, -90%);
  text-align: center;
}

.fwdiv {
  width: calc(100vw - 8vh);
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 2.5vh;
}

.fc2 {
  width: calc(100vw - 8vh);
  height: 92vh;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(asset/wph.JPG);
}

.title {
  font-weight: 900;
  font-size: 50px;
}

.subtitle {
  font-size: 20px;
}

/*modals*/

.iframewrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* The height of the item will now be 56.25% of the width. */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iframewrappersquare {
  position: relative;
  width: 100%
  height: 0;
  padding-bottom: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iframewrapperwide {
  position: relative;
  width: 100%
  height: 0;
  padding-bottom: 42.85714%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iframewrapperwide iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.iframewrappersquare iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.iframewrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.mdtitle {
  width: 100%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 2.5%;
}

.mdtitle img {
  width: 70%;
}

.mdbody {
  text-indent: 5%;
}

.whtxt {
  color: white;
}

.mdfooter {
  opacity: 65%;
  padding: 5%;
  padding-left: 3%;
}

.modal {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*grids*/

.griddiv {
  padding: 2.5vh;
  padding-top: 0;
  width: calc(100vw - 5vh);
}

.inner img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner {
  padding: 1.5vh;
}
